body {
      background-image: url('https://tse4.mm.bing.net/th?id=OIP.Rbsb0-DLTKyMGTKZzz2bKwHaEJ&pid=Api&P=0&w=282&h=159');
      background-size:100vw;
      opacity:1.5
}
     
body h1 {
      opacity:1.5
}
body p {
      opacity:1.5
}
